 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="justify">
                        Fleeg is a project that was written from scratch by Lucas Boscaini with propose to become a social network to index pages.
                        The codename 'fleeg' was chosen because of the mostly common definition of it: "The act of leaving a difficult or boring situation".
                        So, the main goal of this project is to become a large used platform to find contents easily for user in a social network providing
                        a new way to  search things on the internet.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p class="justify">
                        Fleeg has just been shared as open source project where everyone can contribute to build that platform as you can and prefer.
                        Right now, it is under construction and some definition are being discussed by maintainers and collaborators.
                        If you are interested to participate of that project and be part of this initiative, let us know about you and we will be happy to help you.
                        Click on below button to join us and welcome.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/fleeg" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Contribute With Us
                    </a>
                </div>
            </div>
        </div>
    </section>
